@import "reset";

/* Variables & Mixins
  see palette: https://palx.jxnblk.com/
*/

$black: #1D253B;
$primary: #525CE5;
$primary-dark: #17307A; /* most text */
$primary-lt: #EBECFC;
$orange: #FFA60A;
$orange-lt: #FFF6E9;
$bg: #F5F7FD;
$bg-dark: #B8BFD4;

$red-dark: #FF6768;
$red-lt: #FFE9E8;
$green-dark: #57D094;
$green-lt: #E6F8EE;

$cyan-6: #5cacb3;
$gray-0: #f9f9f9;
$gray-3: #d0d4d4;
$gray-6: #99a1a2;

@mixin shadow($level: 1) {
  @if $level == 1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}

/* Styles */

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg;
  color: $primary-dark;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Forms

input {
  padding: 0.25rem;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid $primary-lt;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid $primary-dark;
}

.form-field {
  margin: 2rem 0;
  &:first-of-type {
    margin-top: 0.5rem;
  }
  label {
    display: block;
    margin-left: 0.5rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
  }
  input {
    width: 100%;
  }
}

.submit-btn {
  padding: 1rem 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  color: white;
  background: $primary;
  border: 0;
  &:hover {
    background: $primary-dark;
  }
}

// End Forms

.container {
  margin: 0px auto;
  max-width: 1000px;
}

nav {
  width: 100%;
  color: $primary-dark;
  border-bottom: 1px solid $primary-lt;
  margin-bottom: 2rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    h2 {
      padding: 2rem 1rem;
      font-weight: bold;
      @media screen and (max-width: 630px) {
        font-size: 0.8em;
      }
    }
    ul {
      list-style: none;
      display: flex;
      li {
        display: inline-flex;
        margin-left: 2rem;
        @media screen and (max-width: 700px) {
          font-size: 0.8em;
        }
        a {
          background: $primary-lt;
          border: 1px solid transparent;
          text-transform: uppercase;
          border-radius: 4px;
          padding: 1rem;
          text-decoration: none;
          font-weight: bold;
          &:visited {
            color: inherit;
          }
          &:hover {
            border: 1px solid $primary;
          }
          &.active {
            border: 1px solid $primary;
          }
        }
      }
    }
  }
}

.auth-box {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 15px;
  padding: 2rem;
  h3 {
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $primary-lt;
  }
  .auth-error {
    margin-top: 0.6rem;
    font-style: italic;
    font-size: 0.9rem;
    color: $red-dark;
  }
}

.apps-body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  .table {
    display: table;
    width: 100%;
    .header {
      color: $black;
    }
    .row {
      display: table-row;
    }
    .row-group {
      display: table-row-group;
    }
    .col {
      display: table-cell;
    }
  }


  table {
    width: 100%;
    table-layout: fixed;

    
    thead {
      border-spacing: 0;
      color: $black;
      font-weight: bold;
      text-align: left;
      th {
        padding: 0 1rem;
      }
    }
    tbody {
      tr {
        background: white;
        margin-bottom: 1rem;
      }
      td {
        padding: 1rem;
      }
    }
  }
}

.app-card {
  margin: 0 auto 2rem 0;
  background: white;
  border-radius: 5px;
  padding: 1rem;
}

// TABLE STYLES

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: center;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}
